mixin input(name, type, label, value, cl, disable, id)
    .default-input(class=cl)
        label!=label
        if disable
            input(type=type name=name value=value id=id autocomplete="off" disabled)
        else
            input(type=type name=name value=value id=id autocomplete="off")

mixin textarea(name, label, value, cl, disable)
    .default-textarea(class=cl)
        label!=label
        if disable
            textarea(name=name value=value disabled)
        else
            textarea(name=name value=value)



