mixin checkbox(name, text, ch, cl, outerText, disabled, value)
    .default-checkbox(class=cl)&attributes(attributes)
        if !outerText
            label.default-checkbox__label
                if disabled
                    input(type="checkbox" name=name checked=ch disabled hidden value=value)
                else
                    input(type="checkbox" name=name checked=ch hidden value=value)
                span(tabindex='0').default-checkbox__custom
                    svg(width="10" height="8"): use(xlink:href="#icon-check")
                span.default-checkbox__text!=text
        else
            label.default-checkbox__label
                if disabled
                    input(type="checkbox" name=name checked=ch disabled hidden value=value)
                else
                    input(type="checkbox" name=name checked=ch hidden value=value)
                span(tabindex='0').default-checkbox__custom
                    svg(width="10" height="8"): use(xlink:href="#icon-check")
                span.default-checkbox__text!=text
            !=outerText

mixin checkboxImg(name, image, ch, hintText, disabled, value)
    .img-checkbox
        label.img-checkbox__label(data-tippy-content=hintText)
            if disabled
                input(type="checkbox" name=name checked=ch disabled hidden value=value)
            else
                input(type="checkbox" name=name checked=ch hidden value=value)
            span(tabindex='0').img-checkbox__custom
                svg(width="10" height="8"): use(xlink:href="#icon-check")
            .img-checkbox__img
                img(src=image, alt='')

mixin checkboxColor(name, color, ch, hintText, disabled, value,image)
    .color-checkbox
        label.color-checkbox__label(data-tippy-content=hintText)
            if disabled
                input(type="checkbox" name=name checked=ch disabled hidden value=value)
            else
                input(type="checkbox" name=name checked=ch hidden value=value)
            span(tabindex='0' class=(color === 'white')?'invert':'').color-checkbox__custom
                svg(width="10" height="8"): use(xlink:href="#icon-check")
            if image
                .color-checkbox__bg
                    img(src=image, alt=hintText)
            else
                if color === 'white'
                    .color-checkbox__bg(style='background-color: ' + color + '; border: 1px solid #C7C7C7;')
                else
                    .color-checkbox__bg(style='background-color: ' + color + ';')

//- +checkbox('agree', 'Запомнить меня', true)
